body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    box-sizing: border-box;
    overflow: hidden;
}

/* Form Layout */
form {
    background: #f7e2ea;;;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10rem auto;
    padding: 10px 15px;
    position: relative;
    width: 550px;
    font-size: 14px;
    line-height: 1rem;
    text-align: left; /* Left align the content */
    box-sizing: border-box; /* Ensure consistent box-sizing */
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #c7505a;
}

div {
    margin-bottom: 0.8rem; /* Add spacing between divs */
}

/* Formatting text input boxes (Full name, email etc) */
input, select, textarea {
    width: calc(100% - 6px); /* Adjust width to account for border */
    height: 26px;
    margin-top: 0.3rem;
    border: 2.5px solid #c7505a;
    resize: none;
    display: block; /* Ensure each input is on a new line */
    box-sizing: border-box; /* Ensure consistent box-sizing */
    border-radius: 5px;
}
